<template>
    <main class="overflow-hidden bg-grey-lightest mb-4 mx-2 relative">
        <div
            v-show="showNotify"
            class="text-center w-full fixed z-20"
        >
            <div class="flex justify-center text-white mt-4 mx-16">
                <strong
                    class="bg-red-500 rounded-full hover:bg-red-dark px-4 py-2 cursor-pointer shadow-lg"
                    @click="jumpToBottom"
                >{{ newMessages }}</strong>
            </div>
        </div>
        <div
            v-if="messages.length"
            ref="scrollable"
            class="overflow-auto h-full"
            @scroll.passive="scrolling"
        >
            <message
                v-for="msg in messages"
                :key="msg.key"
                :message="msg"
            />
        </div>
        <div
            v-else
            class="text-4xl text-center"
        >
            No messages
        </div>
    </main>
</template>

<script lang="ts">
import { Message as IMessage } from '../data/message';
</script>
<script setup lang="ts">
import { computed, nextTick, onUpdated, ref } from 'vue';
import Message from './Message.vue';
import { useDebounceFn } from '@vueuse/shared';

const props = defineProps<{messages: IMessage[]}>();

const showNotify = ref(false);
const shownMsg = ref(0);

const newMessages = computed(() => {
    const msgs = props.messages.length - shownMsg.value;
    return `${msgs} new message${msgs > 0 ? 's' : ''}`;
});

const scrollable = ref<Element | null>(null);
onUpdated(() => {
    if (showNotify.value || props.messages.length === 0) return;
    nextTick(() => {
        const scrollDiff = scrollable.value!.scrollHeight - scrollable.value!.clientHeight;
        if (scrollDiff !== 0) {
            if (
                scrollDiff - scrollable.value!.scrollTop - 80 <
                scrollable.value!.lastElementChild!.clientHeight
            ) {
                scrollable.value?.lastElementChild!.scrollIntoView({ behavior: 'smooth' });
            } else {
                shownMsg.value = props.messages.length - 1;
                showNotify.value = true;
            }
        }
    });
});

const scrolling = useDebounceFn(() => {
    if (showNotify.value &&
  (scrollable.value!.scrollHeight - scrollable.value!.clientHeight - scrollable.value!.scrollTop) < 8
    ) {
        showNotify.value = false;
    }
}, 20);

function jumpToBottom() {
    scrollable.value?.lastElementChild?.scrollIntoView({ behavior: 'smooth' });
    showNotify.value = false;
}
</script>
