<template>
    <form
        id="form"
        class="flex items-center mx-2 mb-1 lg:mb-1"
        method="POST"
        @submit.prevent="submit"
    >
        <input
            id="text"
            v-model="text"
            type="text"
            class="flex-grow p-4 rounded-l-lg border border-blue focus:outline-none"
            name="text"
            placeholder="Enter the message"
        >
        <button
            type="submit"
            class="bg-blue-500 py-4 px-8 rounded-r-lg text-white hover:bg-blue-700 border border-blue-400"
        >
            Send
        </button>
    </form>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

// eslint-disable-next-line no-unused-vars
type Emit = (e: 'message', data: {text: string}) => void;

const emit = defineEmits<Emit>();

const text = ref('');

function submit() {
    if (text.value === '') return;
    emit('message', { text: text.value });
    text.value = '';
}
</script>
