<template>
    <div class="flex items-center justify-between px-4 py-2 shadow-md">
        <div class="flex">
            <h4 class="text-xl mr-1">
                Status:
            </h4>
            <status-online-icon
                v-if="status === 'OPEN'"
                class="text-green-700 w-6 animate-pulse"
            />
            <status-offline-icon
                v-else-if="status === 'CLOSED'"
                class="text-red-500 w-6 animate-pulse"
            />
            <refresh-icon
                v-else
                class="w-6 animate-spin-r"
            />
        </div>
        <h4
            v-if="status === 'OPEN'"
            class="text-xl"
        >
            {{ onLineUsers }} user{{ onLineUsers === 1 ? ' (you)' : 's' }} online
        </h4>
        <settings />
    </div>
</template>

<script lang="ts" setup>
import { StatusOfflineIcon, StatusOnlineIcon, RefreshIcon } from '@heroicons/vue/outline';
import Settings from './Settings.vue';

interface HeaderProps {
    status: 'OPEN' | 'CLOSED' | 'CONNECTING';
    onLineUsers?: number;
}

defineProps<HeaderProps>();
</script>
