<template>
    <div
        class="message m-2 py-1 px-2 max-w-max rounded-md"
        :class="color"
    >
        <div
            class="text-lg font-bold w-48 truncate"
            :title="message.username"
        >
            {{ message.username }}
        </div>
        <div class="pt-1 break-words">
            {{ message.text }}
        </div>
    </div>
</template>

<script lang="ts">
import { Message } from '../data/message';

const colors = [
    'bg-gray-400',
    'bg-red-400',
    'bg-red-200',
    'bg-yellow-500',
    'bg-yellow-400',
    'bg-green-500',
    'bg-green-400',
    'bg-indigo-400',
    'bg-indigo-300',
    'bg-blue-400',
    'bg-blue-300',
    'bg-pink-300',
    'bg-pink-500',
];
</script>

<script setup lang="ts">
defineProps<{ message: Message }>();

const color = colors[Math.floor(Math.random() * colors.length)];
</script>
