<template>
    <dialog
        v-if="opened"
        open
        class="bg-gray-100 rounded-lg shadow-md z-20 transition-opacity top-[20%]"
    >
        <div class="text-2xl text-center m-4 mb-4 lg:mb-6">
            Chat settings
        </div>
        <form
            class="grid grid-cols-1 lg:grid-cols-[max-content,1fr] gap-0.5 lg:gap-2"
            @submit.prevent="opened = false"
        >
            <label class="p-2">Username:</label>
            <input
                v-model="settings.username"
                type="text"
                class="rounded p-2 border border-blue focus:outline-none"
                placeholder="Insert a username"
            >
            <label class="p-2">Message's limit:</label>
            <input
                v-model="settings.limit"
                type="number"
                :max="maxLimit"
                :min="minLimit"
                class="rounded p-2 border border-blue focus:outline-none"
            >
            <input
                type="submit"
                value="Close"
                class="px-4 py-2 mt-2 rounded-md bg-blue-500 hover:bg-blue-700 text-white col-start-1 lg:col-start-2"
            >
        </form>
    </dialog>
    <div class="">
        <adjustments-icon
            class="float-right w-8 cursor-pointer"
            @click="opened = !opened"
        />
    </div>
</template>

<script setup lang="ts">
import { AdjustmentsIcon } from '@heroicons/vue/outline';
import { ref } from 'vue';
import { useSettingsStore } from '../store';

const opened = ref(false);
const settings = useSettingsStore();
const minLimit = 10;
const maxLimit = 200;
</script>
