<template>
    <live-header
        :status="status"
        :on-line-users="online"
    />
    <chat-list :messages="messages" />
    <footer-form @message="sendMessage" />
</template>

<script lang="ts">
import { Message } from './data/message';
import { WEBSOCKET_URL } from './settings';
</script>

<script lang="ts" setup>
import { computed, ref, watch, onUnmounted } from 'vue';
import ChatList from './components/ChatList.vue';
import FooterForm from './components/FooterForm.vue';
import LiveHeader from './components/LiveHeader.vue';
import { useSettingsStore } from './store';
import { useWebSocket } from '@vueuse/core';

const { status, data, send, close } = useWebSocket(WEBSOCKET_URL, {
    autoReconnect: {
        retries: 5,
        delay: 1000,
    },
});
onUnmounted(close);

const online = ref(0);
const messages = ref<Message[]>([]);
const parsedData = computed(() => JSON.parse(data.value));
watch(parsedData, () => {
    if (parsedData.value.type === 'user')
        online.value = parsedData.value.online;
    if (parsedData.value.type === 'text') {
        const result = messages.value.slice(-settings.value.limit + 1);
        result.push(parsedData.value);
        messages.value = result;
    }
});

const settings = useSettingsStore();
const sendMessage = (data: any) => send(JSON.stringify({
    ...data,
    type: 'text',
    username: settings.value.username,
}));
</script>
